#n1 {
    color: yellow;
}

#n2 {
    color: blue;
}

#n3 {
    color: pink;
}

#n4 {
    color: brown;
}

#n5 {
    color: green;
}

#n6 {
    color: red;
}

#n7 {
    color: aqua;
}

#n8 {
    color: blueviolet;
}

#n9 {
    color: gray;
}

#n10 {
    color: gold;
}