p {
    color: yellow;
}

img {
    width: 200px;
    height: 200px;
}

#h1 {
    color: yellow;
}

#h11 {
    color: blue;
}

#div {
    width: 400px;
    height: 400px;
    background-color: black;
}